body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container-full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 70px;
}

.container {
    width: 50%;
    height: 100%;
}

.frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.frase h1 {
    color: #E49502;
    font-size: 40px;
}

.frase p {
    color:#8D6100;
    font-size: 18px;
}

.frase-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 30%;
}

.frase-button button {
    padding: 10px 40px;
    width: 100%;
    min-width: 157px;
    border: none;
    border-radius: 3px;
    background-color: #E49502;
    color: white;
    outline: none;
    cursor: pointer;
}

.carrosel {
    width: 500px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: 1px solid #E49502;
    border-radius: 5px;
}

.carrosel input {
    display: none;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide-img {
    width: 25%;
    height: 100%;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#radio1:checked ~ .slides{
    transform: translateX(0%);
}
#radio2:checked ~ .slides {
    transform: translateX(-25%);
}
#radio3:checked ~ .slides {
    transform: translateX(-50%);
}
#radio4:checked ~ .slides {
    transform: translateX(-75%);
}

.navigation {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

.labelRadio {
    cursor: pointer;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: orange;
    border: 2px solid white;
}

.labelRadio:hover {
    background-color: darkorange;
}

.footer-container{
    background-color: #E49502;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeLoja {
    color: #ffffff;
}

.options1 {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
}

.options1 p { 
   
    color: #ffffff;
}


@media (max-width: 1172px) {
    .carrosel {
        width: 400px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border: 1px solid #E49502;
        border-radius: 5px;
    }
}
@media (max-width: 1016px) {
    .carrosel {
        width: 300px;
        height: 200px;
        position: relative;
        overflow: hidden;
        border: 1px solid #E49502;
        border-radius: 5px;
    }
}
@media (max-width: 780px) {
    .container-full {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (max-width: 726px) {
  p {
    font-size: 12px;
  }
  .options1 {
    display: flex;
    column-gap: 60px;
  }
}